.problem_solving {
  min-height: 675px;
  background: url(../img/solve_the_problem_bcgrnd.png) 50% 0 no-repeat;

  .first_reason,
  .second_reason {
    margin-top: 40px;
  }

  .first_reason:after {
    display: block;
    clear: both;
    width: 100%;
    content: ' ';
  }

  .block_text {
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
    width: 610px;

    & span {
      font-weight: 700;
    }
  }

  .problem_text {
    font-size: 14px;
    line-height: 1.4;
  }

  .block_title {
    color: #4ac6b7;
    text-align: left;
    font-size: 34px;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .icon {
    width: 121px;
    height: 120px;
    margin-right: 20px;
    float: left;
  }
}

.reasons {
  width: 440px;
  text-align: left;
}

.problem_title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 20px;
  line-height: 1.4;
}




